#EJEMPLOS DEL ENV REAL

#PORT=3001
#DB_HOST=localhost
#DB_USER=root
#DB_PASSWORD=
#DB_NAME=superozono
#DB_PORT=3306

# PayPal (lo llenaremos después)
#PAYPAL_CLIENT_ID=
#PAYPAL_CLIENT_SECRET=
#PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com